:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --bg-color: #ffff;
  --bg-main-content: #f7f7f9;
}

body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
